<!DOCTYPE html>
<html>
  <head>
    <title>GoalApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if !logged_in? %>
        <form action="<%= new_session_url %>" method="get">
          <input type="hidden" name="authenticity_token" value=" <%= form_authenticity_token %> ">
          <input type="submit" name="" value="Sign In">
        </form>
        <form action="<%= new_user_url %>" method="get">
          <input type="hidden" name="authenticity_token" value=" <%= form_authenticity_token %> ">
          <input type="submit" name="" value="Sign Up">
        </form>
      <% else %>
        <form action="<%= new_session_url %>" method="get">
          <input type="hidden" name="authenticity_token" value=" <%= form_authenticity_token %> ">
          <input type="hidden" name="_method" value="destroy">
          <input type="submit" name="" value="Log Out">
        </form>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
